* {
    box-sizing: border-box;
  }

body {
    background: aquamarine;
}

.JavaScript-Quiz {
    font-size: 45px;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    color: #6A5ACD;
}
.scoreboard, .start-button {
    cursor: pointer;
}
.scoreboard {
    font-size: 20px;
    font-weight: 400;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    padding: 5px 5px;
    outline: none;
    border: none;
    border-radius: 15%;
    background-color: #FFFACD;
}


.start-button {
    /* display: flex;
    justify-content: center; */
    position: absolute; 
    top: 70%;
    left: 70%

}

button.start-button{
    font-size: 45px;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    color: #6A5ACD;
    padding: 20px 40px;
    outline: none;
    border: none;
    border-radius: 15%;
    background-color: #FFFACD;
}